
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700;900&display=swap');
body {
     font-family: poppins;
}

*{
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: grey;
    height: 50px;
    align-items: center;}

    .landing{
width: 100%;
height: 70vh;
background: linear-gradient(rgba(24, 26, 24, 0.431),rgba(93, 97, 97, 0.477)), url(./e-learning\ 3.jpg);

    }
    .lanimg{
        font-size: 25px;
        display: flex;
        flex-direction: column;
        /* align-content: center; */
        justify-content: end;
        text-align: center;
        color: #fff;
        width: 100%;
        height: 100%;


    }
   

.allform{
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
form{
    background-color:grey;
    padding: 20px;
    border-radius: 25px;
    color: white;
    margin-bottom: 50px;
}
label{
    text-align: left;
}

.form2{
    height: fit-content;
}

.form2 input{
    padding: 12px 24px;
    width: 80%;
}
button{
    color: green;
}
h1{
    color: black;
}
.allcards{
    background-color: aquamarine;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.card{
    background-color: goldenrod;
    width: 300px;
    height: 200px;
    
    background-position: right;
    background-repeat: no-repeat;

}

.companyname {
    background-color: black;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
}
.companyname h1{
    color: #fff;
}

.companyname h6{
    font-size: 10px;
    color: #fff;
    
}
.card1image{
width: 150px;
height: 110px;
}
.card{
    color: whitesmoke;
    background-color: brown; 
}
.form2{
    width: 300px;
    height: auto;  
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color:black;
    border-radius: 20px;
}
.instagram img{
    width: 30px;
    height: 30px;
}
.instagram p{
    color: #fff;
}
.linkedin img{
    width: 30px;
    height: 30px;
}
.linkedin p{
    color: #fff;
}
.whatsapp img {
    width: 30px;
    height: 30px;
}
.whatsapp p{
    color: #fff;
}
.gmail img{
    width: 30px;
    height: 30px;
}
.gmail p{
    color: #fff;
}
.twiter img{
width: 30px;
    height: 30px;
}
.twiter p{
color:white ;
}
.contact{
color: #fff;

}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    row-gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 70px;
  }
